.cards {
    padding: 4rem;
    background: #fff;
  }
  
  h1 {
    text-align: center;
  }
  
  .cards__container {
    flex-flow: column;
    align-items: center;
    max-width: 1120px;
    width: 90%;
    margin: 0 auto;
  }
  
  .cards__wrapper {
    gap: 1rem;
    display: grid;
    grid-template-columns: repeat(3, minmax(0,1fr));
    margin: 50px 0 45px;
  }
  
  .cards__items {
    margin-bottom: 24px;
  }
  
  .cards__item {
    display: flex;
    flex: 1;
    margin: 0 1rem;
  }
  
  .cards__item__link {
    display: flex;
    flex-flow: column;
    width: 100%;
    box-shadow: 0 6px 0px var(--secondary);;
    -webkit-filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
    filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
    overflow: hidden;
    text-decoration: none;
    cursor: pointer;
  }
  
  .cards__item__pic-wrap {
    width: 100%;
    padding-top: 100%;
    overflow: hidden;
  }
  
  .fade-img {
    animation-name: fade-img;
    animation-duration: 2s;
  }
  
  .cards__item__pic-wrap::after {
    content: attr(data-category);
    position: absolute;
    bottom: 0;
    padding: 6px 8px;
    max-width: calc((100%) - 60px);
    font-size: 12px;
    font-weight: 700;
    color: #fff;
    background-color: var(--secondary);
    box-sizing: border-box;
  }

  .cards__item__label{
    display: block;
  }
  
  .cards__item__img {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
    width: 100%;
    max-width: 100%;
    height: 100%;
    max-height: 100%;
    object-fit: cover;
    transition: all 0.2s linear;
    cursor: pointer;
  }
  
  .cards__item__img:hover {
    transform: scale(1.1);
  }

  .cards-btn{
    background-color: var(--primary);
    color: black;
    text-decoration: none;
    position: absolute;
    font-size: 2em;
  }

  #modal {
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #modal:empty {
    display: none;
  }

  .cards__modal{
    text-align: center;
  }

  .cards__modal__image{
    max-width: 500px;
    max-height: 500px;
  }

  .cards__button{
    padding: 12px 26px;
    font-size: 2em;
    color: #fff;
    background: transparent;
    border: transparent;
    cursor: pointer;
    top: 1em;
    right:10em;
    position: absolute;
  }
  
  @media only screen and (min-width: 1200px) {
    .content__blog__container {
      width: 84%;
    }
  }
  
  @media only screen and (max-width: 1024px) {
    .cards__items {
      display: flex;
      margin-bottom: 2rem;
    }

    .cards__wrapper {
      grid-template-columns: repeat(2, minmax(0,1fr));
    }

    .cards__button{
      padding: 12px 26px;
      font-size: 2em;
      color: #fff;
      background: transparent;
      border: transparent;
      cursor: pointer;
      top: 1em;
      right: 0px;
    }
  }
  
  @media only screen and (max-width: 768px) {
    .cards__wrapper {
      grid-template-columns: repeat(1, minmax(0,1fr));
    }

    .cards__container {
      width: 100%;
      margin: 0 auto;
    }

    .cards{
      padding: 2rem;
    }

    .cards__button{
      padding: 12px 26px;
      font-size: 2em;
      color: #fff;
      background: transparent;
      border: transparent;
      cursor: pointer;
      top: 1em;
      right: 0px;
    }
  }